services:
  php7-mikhmon:
    networks:
      - net1
    image: trianwar/mikhmon:latest
    container_name: php7-mikhmon
    restart: unless-stopped
    volumes: 
      - ./mikhmon-data:/var/www/mikhmon
    environment:
      - MODE=caddy

## Use Caddy to get HTTP(S) automatically
  caddy:
    networks:
      - net1
    depends_on:
      - php7-mikhmon
    image: caddy:alpine
    container_name: caddy-mikhmon
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./mikhmon-data:/var/www/mikhmon
      - ./caddy/caddy_data:/data
      - ./caddy/caddy_config:/config
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile

networks:
  net1:
    name: net1
    external: true